.before-after__image {
  margin-left: -20px;
}

.before-after__status {
  @include oswald-regular();
  display: flex;
  justify-content: space-between;
  width: auto;
  font-size: 16px;
  line-height: 20px;
}

.before-after__block {
  width: 50%;
  min-height: 50px;
  text-align: center;
}

.before-after__block--after::after {
  content: "";
}

@media (min-width: $tablets) {
  .before-after__image {
    width: 690px;
    height: 517px;
  }
}
