.card-product__image-block {
  /*width: 140px;*/
  height: 140px;
}

.card-product__title {
  text-decoration: none;
  display: block;
  width: 80px;
}

.card-product__title-value {
  @include oswald-regular();
  color: $color-text;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-block-start: 15px;
  margin-block-end: 15px;
}

.card-product__options {
  @include arial-regular();
  font-size: 12px;
  line-height: 16px;
  color: $color-text-4;
  display: block;
  width: 140px;
  margin-top: -5px;
}

.card-product__product {
  display: flex;
  justify-content: space-between;
}

.card-product__info-items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.card-product__info-parameter {
  display: inline;
  width: 50%;
}

.card-product__info-value {
  display: inline;
  /*float: right;*/
  text-align: right;
  margin-inline-start: 0;
  width: 50%;

  &::after {
    content: "";
    display: block;
  }
}

.card-product__info {
  margin-top: 5px;
}

@media (min-width: $tablets) {
  .card-product__info {
    width: 100%;
    margin-top: 10px;
  }

  .card-product__title {
    text-align: center;
    width: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
  }

  .card-product__image-block {
    min-height: 208px;
    display: flex;
    align-items: end;
    align-items: flex-end;
    margin-top: -118px;
    margin-bottom: 10px;
  }

  .card-product__title-value {
    font-size: 20px;
    width: 140px;
  }

  .card-product__options {
    font-size: 16px;
    width: auto;
  }

  .card-product__info-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: start;
    margin-bottom: 30px;
  }

  .card-product__info-parameter {
    width: 40%;
    display: block;
    position: relative;
    margin-bottom: 16px;
    margin-top: 0.5px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -5px;
      width: 244px;
      height: 1px;
      background-color: $color-cd;
      top: 25px;
    }
  }

  .card-product__info-value {
    width: 40%;
    margin-top: 0;
  }
}

@media (min-width: $desktops) {
  .card-product__info-parameter {
    width: 50px;

    &::after {
      width: 164px;
    }
  }

  .card-product__image-block {
    margin-top: -124px;
  }
}
