.catalog__title {
  @include h2-size-font();
  @include padd-mobile();
  color: $color-text;
}

.catalog__block {
  width: 100%;
  /*@include padd-mobile();*/
  margin-top: 30px;
}

.catalog__list {
  @include list-style-none();
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.catalog__product {
  display: flex;
  justify-content: space-between;
}

.catalog__block-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.catalog__title-all {
  @include m-p-clear();
  @include oswald-regular();
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-text;
  margin-top: 25px;
}

.catalog__value-all {
  @include arial-regular();
  font-size: 12px;
  line-height: 16px;
  color: $color-text-4;
  margin-top: 5px;
  margin-bottom: 25px;
}

.catalog__item-btn {
  @include a-btn();
  margin-top: -4px;
}

.catalog__item {
  @include padd-mobile();
  border-bottom: 1px solid $color-ed;
  padding-bottom: 24px;
}

.catalog__item--more {
  margin-top: 10px;
}

.catalog__image-all {
  opacity: 0.2;
}

.catalog__item-btn--all {
  @include oswald-regular();
  font-size: 16px;
  line-height: 20px;
  color: $color-text-4;
  background-color: $bgr;
}

@media (min-width: $tablets) {
  .catalog__title {
    @include padd-tablets();
    width: $tablets - 60px;
    margin: 0 auto;
    font-size: 60px;
  }

  .catalog__block {
    @include padd-tablets();
    width: $tablets - 60px;
    margin: 0 auto;
  }

  .catalog__list {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .catalog__item {
    width: 244px;
    padding: 40px;
    margin-top: 140px;
    background-color: $color-f2;
  }

  .catalog__product {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: $desktops) {
  .catalog__title {
    @include padd-desktop();
    width: $desktops - 80px;
    margin: 0 auto;
  }

  .catalog__block {
    @include padd-desktop();
    width: $desktops - 80px;
    margin: 0 auto;
  }

  .catalog__item {
    width: 164px;
    padding: 40px;
    margin-top: 140px;
    margin-right: 1px;
  }
}
