.contacts__contacts-map {
  background-color: $bgr;
  padding-top: 4px;
}

.contacts__contacts-items {
  width: $mobiles - 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  min-height: 85px;
  align-items: start;
}

.contacts__title {
  @include m-p-clear();
  @include oswald-regular();
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  min-width: 140px;
}

.contacts__address {
  @include m-p-clear();
  @include arial-regular();
  font-size: 14px;
  line-height: 20px;
  min-width: 140px;
}

.contact-item__icon {
  position: absolute;
  right: 15px;
  top: 18px;
}

.contact-item__icon--phone {
  top: 15px;
}

.contacts__map {
  position: relative;
  max-width: 100%;
  max-height: 360px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 170px;
    left: 50%;
    width: 62px;
    height: 53px;
    margin-left: -31px;
    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    z-index: 1;

    @media (min-width: $tablets) {
      bottom: 144px;
      width: 124px;
      height: 106px;
      margin-left: -62px;
    }

    @media (min-width: $desktops) {
      margin-left: 278px;
    }
  }

  .contacts__map-image {
    width: 100%;
    position: relative;
  }
}

@media (min-width: $tablets) {
  .contacts__contacts-map {
    width: 100%;
  }

  .contacts__contacts-items {
    @include padd-tablets();
    width: $tablets - 60px;
    margin: 0 auto;
    min-height: 175px;
    z-index: 1;
  }

  .contacts__title {
    width: 165px;
    padding: 40px;
    font-size: 20px;
    line-height: 25px;
    color: $color-text;
  }

  .contacts__address {
    width: 165px;
    padding: 40px;
    font-size: 16px;
    line-height: 20px;
    color: $color-text-4;
    text-align: right;
  }

  .contacts__city {
    padding-top: 20px;
    display: block;
  }

  .contacts__map {
    width: auto;
    max-height: 400px;
  }

  .contacts__contacts-map--index {
    background-color: $bgr;
  }
}

@media (min-width: $desktops) {
  .contacts__contacts-map {
    position: relative;
    margin-top: -20px;
    padding: 0;
  }

  .contacts__contacts-items {
    width: 510px;
    position: absolute;
    top: 96px;
    left: 110px;
    min-height: 200px;
    background: $bgr;
  }

  .contact-item__icon {
    right: 20px;
    top: 20px;
  }

  .contact-item__icon--phone {
    top: 18px;
  }

  .contacts__address {
    padding-right: 50px;
    text-align: left;
    padding-top: 65px;
  }

  .contacts__title {
    padding-left: 45px;
    padding-top: 67px;
  }
}
