.contacts__contacts-items {
  @include padd-mobile();
  display: flex;
  justify-content: space-between;
}

.contacts__title {
  @include oswald-regular();
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  min-width: 140px;
}

.contacts__address {
  @include arial-regular();
  font-size: 14px;
  line-height: 20px;
  min-width: 140px;
}

.contacts__map {
  width: auto;
  height: 400px;
  background-image: url("../img/bg-map-mobile@1x.png");
}

@media (min-width: $tablets) {
  .contacts__contacts-map {
    width: 100%;
  }

  .contacts__contacts-items {
    @include padd-tablets();
    width: $tablets - 60px;
    margin: 0 auto;
  }

  .contacts__title {
    width: 165px;
    padding: 40px;
  }

  .contacts__address {
    width: 165px;
    padding: 40px;
  }

  .contacts__map {
    width: auto;
    height: 400px;
    background-image: url("../img/bg-map-tablet@1x.png");
  }
}

@media (min-width: $desktops) {
  .contacts__contacts-map {
    position: relative;
  }

  .contacts__contacts-items {
    width: 450px;
    position: absolute;
    top: 50px;
    left: 50px;
    background: $bgr;
  }
}
