.copyright__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  min-height: 75px;

  &:hover {
    fill: $green-btn;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__name {
  @include arial-regular();
  font-size: 16px;
  line-height: 16px;
  color: $color-text-4;
}
