.example__title {
  @include h2-size-font();
  @include padd-mobile();
  margin-bottom: 21px;
}

.example__text {
  @include p-text();
  @include padd-mobile();
  margin-bottom: 25px;
  font-kerning: none;
  padding-right: 25px;
}

.example__stat {
  @include padd-mobile();
}

.example__stat-items {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.example__stat-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  width: 125px;
  min-height: 56px;
}

.example__stat-result {
  @include oswald-regular();
  font-size: 24px;
  line-height: 24px;
  color: $color-text;
  text-align: center;
  margin-top: 15px;
}

.example__stat-value {
  @include arial-regular();
  font-size: 12px;
  line-height: 12px;
  color: $color-text-4;
  width: 80px;
  text-align: center;
  position: absolute;
  background: $bg-lite-grey;
  bottom: -12px;
  margin-left: 22px;
}

.example__cost-block--text {
  @include oswald-regular();
  font-size: 14px;
  line-height: 20px;
  color: $color-text;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  margin: 33px 0;
}


@media (min-width: $tablets) {
  .example__block {
    width: $tablets;
    margin: 0 auto;
  }

  .example__title {
    @include padd-tablets();
    font-size: 60px;
    margin-bottom: 61px;
  }

  .example__text {
    @include padd-tablets();
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  .example__stat {
    @include padd-tablets();
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .example__stat-items {
    width: 52%;
  }

  .example__stat-item {
    width: 160px;
  }

  .example__cost-block {
    width: 190px;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: right;
  }

  .example__cost-block--text {
    @include m-p-clear();
    margin-top: 10px;
    line-height: 25px;
  }

  .example__stat-result {
    font-size: 30px;
    line-height: 37.02px;
    text-transform: uppercase;
    padding-bottom: 15px;
  }

  .example__stat-value {
    background-color: $bgr;
    font-size: 14px;
    line-height: 14px;
    display: inline;
    width: auto;
    padding: 0 10px;
    bottom: -5px;
    margin-left: 0;
    align-self: center;
  }
}

@media (min-width: $desktops) {
  .example__block {
    width: $desktops;
    min-height: 595px;
  }

  .example__title {
    @include padd-desktop();
    margin-bottom: 140px;
  }

  .example__text {
    @include padd-desktop();
    max-width: 465px;
    margin-bottom: 70px;
  }

  .example__stat {
    @include padd-desktop();
    flex-direction: column;
    position: relative;
  }

  .example__stat-value {
    background-color: $color-f2;
  }

  .example__cost-block--text {
    max-width: 450px;
    min-width: 325px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }

  .example__stat-items {
    width: 30%;
  }

  .example__before-after {
    width: 650px;
    align-self: end;
    margin-top: -400px;
    position: absolute;
    bottom: -75px;
    right: 51px;
  }
}
