.extra-products {
  @include padd-mobile();
  position: relative;
}

.extra-products__title {
  @include oswald-regular();
  font-size: 24px;
  line-height: 24px;
  color: $color-text;

  &::after {
    content: "";
    width: 17%;
    display: block;
    position: absolute;
    height: 3px;
    background-color: $green-btn-hvr;
    right: 0;
    top: 12px;
  }
}

.extra-products__block {
  margin-top: 30px;
}

.extra-products__list {
  @include list-style-none();
}

.extra-products__item {
  border-top: 1px solid #cdcdcd;
  padding-top: 15px;
}

.extra-products__item a {
  text-decoration: none;
}

.extra-products__item-title {
  @include m-p-clear();
  @include oswald-regular();
  font-size: 16px;
  line-height: 16px;
  color: $color-text-2;
  text-transform: uppercase;
}

.extra-products__info {
  @include arial-regular();
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;
  color: $color-text-4;
}

.extra-products__btn {
  @include a-btn();
  margin-top: 0;
  margin-bottom: 15px;
}

.extra-products__present {
  max-width: 280px;
  min-height: 289px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 50px;
}

.extra-products__present-icon {
  margin-top: 15px;
}

.extra-products__present-text {
  @include arial-regular();
  @include m-p-clear();
  font-size: 16px;
  line-height: 18px;
  color: $bgr;
  width: 55%;
  text-align: center;
  margin-top: -25px;
}

@media (min-width: $tablets) {
  .extra-products {
    @include m-p-clear();
    width: 100%;
    margin-top: 67px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 20px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $green-btn;
      z-index: -1;
    }
  }

  .extra-products__container {
    width: $tablets - 60px;
    margin: 0 auto;
  }

  .extra-products__title {
    font-size: 36px;
    line-height: 36px;
    display: inline;
    padding: 0 37px;
    background-color: $bgr;
    margin-left: 0;

    &::after {
      @include visually-hidden();
    }
  }

  .extra-products__item {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    flex-wrap: wrap;
    align-items: end;
    padding-top: 26px;

    &:last-child {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  .extra-products__item-title {
    font-size: 20px;
    line-height: 20px;
  }

  .extra-products__info {
    font-size: 16px;
    line-height: 16px;
  }

  .extra-products__volume {
    @include m-p-clear();
  }

  .extra-products__price {
    @include m-p-clear();
    width: 95px;
    text-align: right;
  }

  .extra-products__list {
    margin-bottom: 70px;
    margin-top: 78px;
  }

  .extra-products__btn {
    margin-top: 25px;
    margin-bottom: 27px;
    font-size: 16px;
    line-height: 20px;
  }

  .extra-products__present {
    justify-content: space-between;
    flex-direction: row;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-size: 100%;
    max-width: 708px;
    min-height: 200px;
    margin-bottom: 82px;
  }

  .extra-products__present-icon {
    width: 354px;
  }

  .extra-products__present-text {
    width: 175px;
    padding-right: 120px;
    line-height: 20px;
  }
}

@media (min-width: $desktops) {
  .extra-products__container {
    @include padd-desktop();
    width: $desktops - 80px;
    margin: 0 auto;
  }

  .extra-products__title {
    @include padd-desktop();
  }

  .extra-products__block {
    @include padd-desktop();
    display: flex;
    justify-content: space-between;
  }

  .extra-products__list {
    width: 820px;
  }

  .extra-products__present {
    width: 245px;
  }

  .extra-products__btn {
    width: 210px;
  }
}
