.extra-info__items {
  @include list-style-none();
  @include m-p-clear();
  margin-top: 30px;
  margin-bottom: 30px;
}

.extra-info__item {
  display: flex;
  align-items: center;
  min-height: 41px;
}

@media (min-width: $tablets) {
  .extra-info {
    margin-bottom: 40px;
  }

  .extra-info__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .extra-info__item {
    width: 285px;
    margin: 15px 0;
  }

  .extra-item__label {
    font-size: 20px;
    line-height: 20px;
  }

  .extra-item__input {
    display: none;
  }

  .extra-item__input--indicator {
    display: block;
    width: 40px;
    height: 40px;
    outline: 1px solid $color-cd;
    background: $bgr;
  }

  .extra-item__input:checked + .extra-item__input--indicator {
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
  }
}

@media (min-width: $desktops) {
  .extra-info__items {
    margin-bottom: 45px;
  }

  .extra-info__item {
    width: 245px;
  }
}
