.form__text-items {
  @include list-style-none();
  @include m-p-clear();
  margin-bottom: 45px;
}

.form__program-items {
  @include list-style-none();
  @include m-p-clear();
  margin-bottom: 45px;
}

.form__programs-item {
  margin: 15px 0;
  /*padding-left: 20px;*/
}

.form__contact-items {
  @include list-style-none();
  @include m-p-clear();
  margin-top: 30px;
  margin-bottom: 25px;
}

.form__data-cat {
  margin-top: 35px;
}

.form__text-item {
  width: auto;
  height: 50px;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.form__title {
  @include oswald-regular();
  font-size: 24px;
  line-height: 24px;
  color: $color-text;
}

.form__contact-item {
  width: auto;
  height: 50px;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.form__comment {
  margin-bottom: 30px;
}

.form__submit-block {
  margin-bottom: 45px;
}

.form-block {
  padding-bottom: 10px;
}

.text-item__label {
  @include oswald-regular();
  @include font-s-label();
}

.text-item__input {
  @include border-input();
  width: 100%;
  padding: 14px 0 14px 13px;

  &::placeholder {
    @include oswald-regular();
    @include font-s-label();
    color: $color-text-4;
  }
}

.extra-item__label {
  @include oswald-regular();
  @include font-s-label();
}

.btn-block__button {
  @include a-btn();
  border: none;
  padding: 0;
  min-height: 40px;
  letter-spacing: 1px;
  margin-bottom: 7px;
}

.btn-block__text {
  @include arial-regular();
  font-size: 14px;
  line-height: 16px;
  color: $color-text-4;
  text-align: center;
}

@media (min-width: $tablets) {
  .form {
    margin-bottom: 65px;
  }
  .form-block {
    margin-bottom: 10px;
  }

  .form__contact-items {
    margin-top: 75px;
  }

  .form__center-container {
    @include padd-tablets();
    width: $tablets - 138px;
    margin: 0 auto;
  }

  .form__program-items {
    margin-top: 20px;
    margin-bottom: 22px;
  }

  .form__programs-item {
    display: flex;
    align-items: center;
  }

  .form__text-item {
    margin-bottom: 23px;
  }

  .form__data-cat {
    width: 100%;
    margin-top: 65px;
    margin-bottom: 75px;
  }

  .form__program-cat {
    @include m-p-clear();
    max-width: $tablets - 62px;
    padding-left: 30px;
  }

  .form__contact-block {
    position: relative;
    margin-top: 75px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 20px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $green-btn;
      z-index: -1;
    }
  }

  .form__contact-item {
    margin-bottom: 25px;
  }

  .form__comment {
    position: relative;
    margin-top: 65px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 20px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $green-btn;
      z-index: -1;
    }
  }

  .form__extra-info {
    position: relative;
    margin-top: 63px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 20px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $green-btn;
      z-index: -1;
    }
  }

  .form__title {
    font-size: 36px;
    line-height: 36px;
    display: inline;
    padding: 0 40px;
    background-color: #ffffff;
    margin-left: -40px;
  }

  .btn-block {
    display: flex;
  }

  .btn-block__button {
    width: 285px;
    min-height: 50px;
    font-size: 20px;
    line-height: 20px;
    margin-right: 60px;
  }

  .btn-block__text {
    font-size: 16px;
    padding-right: 40px;
  }

  .text-item__input {
    font-size: 20px;
    padding: 16px 0 10px 16px;

    &::placeholder {
      font-size: 20px;
    }
  }

  .text-item__input[type="tel"] {
    background-image: url("../img/icon-phone.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 492px center;
  }

  .text-item__input[type="email"] {
    background-image: url("../img/icon-mail.svg");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 512px 20px;
  }

  .text-item__label {
    font-size: 20px;
    margin-right: 20px;
  }

  .form__submit-block {
    @include padd-tablets();
    width: $tablets - 140px;
    margin: 0 auto;
  }
}

@media (min-width: $desktops) {
  .form__center-container {
    @include padd-desktop();
    width: $desktops - 80px;
    margin: 0 auto;
  }

  .form__center-container--data {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }
  /*

  .form-block {
    margin-bottom: 21px;
  }
  */

  .form__data-cat {
    max-width: 575px;
    margin: 0;
  }

  .form__program-cat {
    width: 100%;
    max-width: 540px;
    margin-top: 7px;
    margin-bottom: 45px;
  }

  .form__contact-block {
    margin-top: 18px;
  }

  .form__contact-items {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
  }

  .form__contact-item {
    width: 570px;
  }

  .text-item__input[type="email"] {
    background-position: 450px 19px;
  }

  .text-item__input[type="tel"] {
    background-position: 427px center;
  }

  .form__comment {
    margin-top: 45px;
  }

  .form__submit-block {
    @include padd-desktop();
    width: $desktops - 80px;
    margin: 0 auto;
  }

  .btn-block__button {
    width: 570px;
    margin-right: 80px;
  }
}
