.form__text-items {
  @include list-style-none();
  @include m-p-clear();
}

.form__program-items {
  @include list-style-none();
  @include m-p-clear();
}

.form__contact-items {
  @include list-style-none();
  @include m-p-clear();
}

.form__text-item {
  width: auto;
  height: 50px;
  margin: 15px 0;
  display: flex;
  align-items: center;
}

.form__title {
  @include oswald-regular();
  font-size: 24px;
  line-height: 24px;
  color: $color-text;
}

.form__contact-item {
  width: auto;
  height: 50px;
  margin: 15px 0;
  display: flex;
  align-items: center;
}

.text-item__label {
  @include oswald-regular();
  @include font-s-label();
}

.program-item__radio {
  @include oswald-regular();
  @include font-s-label();
}

.text-item__input {
  @include border-input();
  width: 100%;
  padding: 14px 0 14px 15px;

  &::placeholder {
    @include oswald-regular();
    @include font-s-label();
    color: $color-text-4;
  }
}

.extra-item__label {
  @include oswald-regular();
  @include font-s-label();
  margin-left: 15px;
}

.btn-block__button {
  @include a-btn();
  border: none;
  padding: 0;
}

.btn-block__text {
  @include arial-regular();
  font-size: 14px;
  line-height: 16px;
  color: $color-text-4;
  text-align: center;
}

@media (min-width: $tablets) {
  .form__contact-items {
    margin-top: 40px;
  }

  .form__center-container {
    @include padd-tablets();
    width: $tablets - 60px;
    margin: 0 auto;
  }

  .form__data-cat {
    width: 100%;
  }

  .form__program-cat {
    max-width: $tablets - 62px;
  }

  .form__contact-block {
    position: relative;
    margin-top: 40px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 20px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $green-btn;
      z-index: -1;
    }
  }

  .form__comment {
    position: relative;
    margin-top: 40px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 20px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $green-btn;
      z-index: -1;
    }
  }

  .form__extra-info {
    position: relative;
    margin-top: 40px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 20px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $green-btn;
      z-index: -1;
    }
  }

  .form__title {
    font-size: 36px;
    line-height: 36px;
    display: inline;
    padding: 0 40px;
    background-color: #ffffff;
    margin-left: -40px;
  }

  .btn-block {
    display: flex;
    justify-content: space-between;
  }

  .btn-block__button {
    width: 285px;
    min-height: 30px;
    font-size: 20px;
    line-height: 20px;
  }

  .btn-block__text {
    font-size: 16px;
    padding-right: 40px;
  }

  .text-item__input {
    font-size: 20px;
    padding-bottom: 10px;

    &::placeholder {
      font-size: 20px;
    }
  }

  .text-item__label {
    font-size: 20px;
  }

  .form__submit-block {
    @include padd-tablets();
    width: $tablets - 60px;
    margin: 0 auto;
  }
}

@media (min-width: $desktops) {
  .form__center-container {
    @include padd-desktop();
    width: $desktops - 80px;
    margin: 0 auto;
  }

  .form__center-container--data {
    display: flex;
    justify-content: space-between;
  }

  .form__data-cat {
    max-width: 45%;
  }

  .form__program-cat {
    width: 100%;
    max-width: 45%;
  }

  .form__contact-items {
    display: flex;
    justify-content: space-between;
  }

  .form__contact-item {
    width: 45%;
  }

  .form__submit-block {
    @include padd-desktop();
    width: $desktops - 80px;
    margin: 0 auto;
  }
}
