.page-footer {
  @include m-p-clear();
  width: 100%;
  background-color: $color-f2;
}

.page-footer__footer {
  width: $mobiles - 40px;
  margin: 0 auto;
}

.page-footer__logo {
  text-align: center;
  border-bottom: 1px solid $color-d9;
  min-height: 57px;
  margin-top: 40px;
}

.page-footer__logo-link {
  text-align: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }
}

.page-footer__copyright-logo {
  margin-right: -10px;

  &:hover {
    fill: $green-btn;
  }

  &:active {
    opacity: 0.3;
  }
}


@media (min-width: $tablets) {
  .page-footer {
    width: 100%;
    background-color: $color-f2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-footer__footer {
    @include padd-tablets();
    width: $tablets - 60px;
    margin: 0 auto;
    padding-top: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    width: 200px;
    text-align: left;
    border: none;
  }

  .page-footer__copyright {
    width: 165px;
    text-align: right;
  }

  .page-footer__copyright-logo {
    width: 40px;
    margin-right: -5px;
  }
}

@media (min-width: $desktops) {
  .page-footer {
    width: 100%;
  }

  .page-footer__footer {
    @include padd-desktop();
    width: $desktops - 80px;
    padding-top: 23px;
  }

  .page-footer__copyright {
    padding-top: 15px;
  }
}
