.page-main__example {
  @include m-p-clear();
  background: $bg-lite-grey;
  width: $mobiles;
  margin: 0 auto;
}

@media (min-width: $tablets) {
  .page-main__example {
    width: 100%;
    background-image: linear-gradient($bgr 0%, $bgr 53%, $color-f2 53%);
    margin-bottom: 5px;
  }
}

@media (min-width: $desktops) {
  .page-main__example {
    width: 100%;
    background-image: linear-gradient($bgr 0%, $bgr 11.5%, $color-f2 11.5%);
    margin-bottom: 0;
  }
}
