.page-catalog {
  width: $mobiles;
  margin: 0 auto;
  padding: 0;
  margin-top: 15px;
}

@media (min-width: $tablets) {
  .page-catalog {
    width: 100%;
    margin-top: 30px;
  }
}

@media (min-width: $desktops) {
  .page-catalog {
    width: 100%;
  }
}
