.page-main {
  width: $mobiles;
  margin: 0 auto;
  padding: 0;
  display: block;
}

@media (min-width: $tablets) {
  .page-main {
    width: 100%;
  }

  .page-main--index {
    width: 100%;
  }
}

@media (min-width: $desktops) {
  .page-main {
    width: 100%;
  }
}
