.page-footer {
  @include m-p-clear();
  width: 100%;
  background-color: $color-f2;
}

.page-footer__footer {
  width: $mobiles - 40px;
  margin: 0 auto;
}

.page-footer__logo {
  text-align: center;
  border-bottom: 1px solid $color-d9;
  min-height: 57px;
  margin-top: 40px;

  &-link:hover {
    opacity: 0.8;
  }

  &-link:active {
    opacity: 0.6;
  }

  &-link:focus {
    opacity: 0.6;
  }
}

@media (min-width: $tablets) {
  .page-footer {
    width: 100%;
    background-color: $color-f2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-footer__footer {
    @include padd-tablets();
    width: $tablets - 60px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    width: 200px;
    text-align: left;
    border: none;
  }

  .page-footer__copyright {
    width: 200px;
    text-align: right;
  }
}

@media (min-width: $desktops) {
  .page-footer {
    width: 100%;
  }

  .page-footer__footer {
    @include padd-desktop();
    width: $desktops - 80px;
    padding-top: 30px;
  }
}
