.page-main__example {
  @include m-p-clear();
  background: $bg-lite-grey;
  width: $mobiles;
  margin: 0 auto;
  padding-top: 18px;
}

@media (min-width: $tablets) {
  .page-main__example {
    width: 100%;
    background-image: linear-gradient($bgr 0%, $bgr 55%, $color-f2 55%);
    margin-bottom: 5px;
    padding-top: 0;
  }
}

@media (min-width: $desktops) {
  .page-main__example {
    width: 100%;
    background-image: linear-gradient($bgr 0%, $bgr 22%, $color-f2 22%);
    margin-bottom: 0;
  }
}
