.page-header {
  width: $mobiles;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.page-header__wrapper {
  @include width-mobile();
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 65px;
  border-bottom: 1px solid $lite-grey;
}

.page-header__logo {
  width: 192px;
  margin-top: 13px;
  align-self: flex-start;
}

.page-header__logo-link {
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__btn {
  width: 30px;
  height: 19px;
  background-color: $bgr;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 23px;
  right: -5px;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.page-header__btn--open {
  background-image: url("../img/icon-close.svg");
}


.page-header__items {
  @include list-style-none();
  width: auto;
  background-color: $bgr;
}

.page-header__item {
  @include oswald-regular();
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 25px 20px;
  border-bottom: 1px solid $lite-grey;
}

.page-header__link-menu {
  text-decoration: none;
  color: $color-text;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__items--close {
  display: none;
}

.page-header__items--open {
  display: block;
  position: relative;
  width: 320px;
}

.page-header__promo {
  @include padd-mobile();
  min-height: 500px;
  background: url("../img/index-background-mobile@1x.jpg") 0 0 no-repeat;
}

@media (min-width: $tablets) {
  .page-header {
    width: $tablets;
  }

  .page-header__wrapper {
    width: auto;
    height: auto;
    padding: 24px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: none;
  }

  .page-header__items--open {
    margin-left: 0;
  }

  .page-header__logo {
    width: 175px;
    margin-right: 95px;
    margin-top: 0;
  }

  .page-header__btn {
    display: none;
  }

  .page-header__items {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 440px;
    flex-wrap: wrap;
  }

  .page-header__link-menu {
    text-decoration: none;
    color: $color-text-2;
  }

  .page-header__item {
    @include oswald-regular();
    color: $color-text-2;
    font-size: 18px;
    line-height: 24.86px;
    padding: 6px 0;
    border-bottom: none;
  }

  .page-header__item--active {
    border-bottom: 2px solid $green-btn;
  }
}

@media (min-width: $desktops) {
  .page-header {
    width: $desktops;
  }

  .page-header--index {
    width: 100%;
    position: relative;
    margin-bottom: 40px;

    &::after {
      content: "";
      position: absolute;
      width: 50%;
      right: 0;
      top: -55px;
      min-height: 695px;
      background-color: #65a93c;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-position-x: right;
      background-position-y: top;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .page-header--index::after {
      background: url("../img/index-background-desktop@2x.jpg");
      background-size: contain;
    }
  }

  .page-header__logo {
    /*margin-top: 55px;*/
    width: 200px;
  }

  .page-header__wrapper {
    width: $desktops - 80px;
    padding: 0;
    margin: 0 auto;
    border: none;
    margin-top: 55px;
    margin-bottom: 80px;
  }

  .page-header__promo {
    @include padd-desktop();
    background: none;
    max-width: $desktops - 80px;
    margin: 0 auto;
    margin-top: 25px;
    position: relative;
  }


  .page-header__main-menu {
    width: 570px;
    display: flex;
    justify-content: flex-end;
  }

  .page-header__items {
    width: 478px;
    background: none;
  }

  .page-header__item {
    letter-spacing: 1px;
  }

  .page-header__item--active-index {
    color: $bgr;
    border-bottom-color: $bgr;
  }

  .page-header__link-menu--index {
    color: $bgr;
  }
}
