.programs__container {
  @include m-p-clear();
}

.programs__block {
  /*@include padd-mobile();*/
  background-color: $bg-lite-grey;
  margin-bottom: 20px;
  padding: 0 40px;
}

.programs__block-title {
  @include h3-size-font();
  text-transform: uppercase;
  color: $color-text;
  display: block;
  position: relative;
  padding-top: 30px;
  padding-left: 70px;
  margin-bottom: 30px;

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 50px;
    top: 22px;
    left: 10px;
    background: url("../img/icon-cat-slim.svg") 0 0 no-repeat;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $green-btn;
    top: 25px;
    left: 2px;
  }
}

.programs__block-title--pro::before {
  content: "";
  width: 65px;
  height: 60px;
  background: url("../img/icon-cat-pro.svg") 0 0 no-repeat;
  top: 35px;
  left: -6px;
}

.programs__block-text {
  @include p-text();
  padding-bottom: 23px;
  border-bottom: 1px solid $color-d9;
  margin-bottom: 20px;
}

.programs__block-link {
  @include oswald-regular();
  line-height: 16px;
  letter-spacing: 0;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-text;
  display: block;
  position: relative;
  min-height: 35px;


  &::after {
    content: "";
    width: 25px;
    height: 16px;
    background: url("../img/icon-right-arrow-verylong.svg") 0 2px no-repeat;
    position: absolute;
    margin-left: 10px;
  }

  &:hover::after {
    width: 35px;
    background-position: 0 0;
  }

  &:active {
    opacity: 0.3;
  }

  &:active::after {
    opacity: 0.3;
  }
}

@media (min-width: $tablets) {
  .programs {
    @include padd-tablets();
    width: $tablets - 60px;
    margin: 0 auto;
  }

  @media (max-width: 1299px) {
    .programs__block {
      background: none;
      min-height: 300px;
      padding: 10px 270px 10px 55px;
      margin-bottom: 80px;

      &-pro {
        padding-right: 310px;
        padding-bottom: 0;
        margin-bottom: 45px;
      }
    }

    .programs__block-title {
      @include m-p-clear();
      font-size: 36px;
      margin-bottom: 25px;

      &::before {
        width: 200px;
        height: 200px;
        top: 0;
        left: 420px;
      }

      &::after {
        width: 200px;
        height: 200px;
        left: 390px;
        top: 15px;
      }

      &--pro::before {
        width: 272px;
        height: 272px;
        top: 60px;
        left: 356px;
      }
    }

    .programs__block-text {
      font-size: 16px;
      line-height: 24px;
      border-bottom: none;
      margin-bottom: 27px;
    }

    .programs__block-link {
      font-size: 20px;
      line-height: 20px;

      &::after {
        margin-left: 20px;
        top: 4px;
      }
    }
  }
}

@media (min-width: $desktops) {
  .programs {
    @include padd-desktop();
  }

  .page-main__programs {
    @include padd-desktop ();
    width: $desktops - 80px;
    margin: 0 auto;
    margin-bottom: 55px;
  }

  .programs__block {
    max-width: 472px;
    padding: 0 50px;
    min-height: 373px;
  }

  .programs__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .programs__block-title {
    font-size: 36px;
    margin-bottom: 70px;
    padding-left: 165px;
    padding-top: 79px;


    &::before {
      width: 100px;
      height: 100px;
      top: 40px;
      left: 15px;
    }

    &::after {
      width: 100px;
      height: 100px;
      left: 2px;
      top: 48px;
    }

    &--pro::before {
      width: 133px;
      height: 150px;
      top: 70px;
      left: -13px;
    }
  }

  .programs__block-text {
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
    padding-bottom: 18px;
  }

  .programs__block-link {
    font-size: 20px;
    line-height: 20px;
    padding-left: 2px;

    &::after {
      margin-left: 22px;
    }
  }
}
