.promo__title {
  @include h1-size-font();
  color: $bgr;
  text-align: center;
  padding-top: 30px;
  /*padding: 26px 0;*/
  /*padding-bottom: 15px;*/
}

.promo__text {
  @include oswald-regular();
  line-height: 14px;
  letter-spacing: 0.01em;
  font-size: 14px;
  color: $bgr;
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
}

.promo__text-block::after {
  content: "";
  display: block;
  width: 280px;
  height: 271px;
  background: url("../img/index-can-mobile@1x.png") 0 center no-repeat;
  margin-top: 30px;
}

.promo__block-link {
  width: auto;
  min-height: 40px;
}

.promo__link-form {
  @include a-btn();
}

@media (min-width: $tablets) {
  .promo {
    @include padd-tablets();
    min-height: 820px;
    background: url("../img/index-can-tablet@1x.jpg") 30px bottom no-repeat;
    margin-bottom: 80px;
  }

  .promo__text-block {
    display: block;
    width: 450px;
    padding-left: 90px;
    min-height: 240px;
    margin-top: 5px;
    margin-bottom: 10px;

    &::after {
      display: none;
    }
  }

  .promo__title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $color-text;
    padding-bottom: 30px;
    padding-top: 25px;
  }

  .promo__text {
    color: $color-text;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .promo__block-link {
    width: 245px;
    padding-left: 90px;
  }

  .promo__link-form {
    font-size: 20px;
    line-height: 20px;
    min-height: 37px;
    padding-top: 15px;
  }
}

@media (min-width: $desktops) {
  .promo {
    min-height: 535px;
    background: none;
    margin-bottom: 40px;
  }

  .promo__text-block {
    padding-left: 80px;
    margin-bottom: 15px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 552px;
      height: 499px;
      background: url("../img/index-can-desktop@1x.png") 0 center no-repeat;
      background-size: 550px;
      top: 110px;
      left: 39%;
    }
  }

  .promo__block-link {
    padding-left: 80px;
  }
}
