.social-icons__items {
  @include list-style-none();
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 75px;
  border-bottom: 1px solid $color-d9;
}

@media (min-width: $tablets) {
  .social-icons__items {
    width: 150px;
    padding: 20px 0;
    border: none;
  }
}
