/*colors*/
$lite-grey: #e6e6e6;
$bgr: #ffffff;
$black: #000000;
$green-btn: #68b738;
$green-btn-hvr: #5eaa2f;
$bg-lite-grey: #f2f2f2;
$color-text: #111111;
$color-text-2: #222222;
$color-text-4: #444444;
$color-f2: #f2f2f2;
$color-d9: #d9d9d9;
$color-cd: #cdcdcd;
$color-dc: #dcdcdc;
$color-be: #bebebe;
$color-ed: #ededed;

/*breackpoints*/
$mobiles: 320px;
$tablets: 768px;
$desktops: 1300px;
