/*colors*/
$lite-grey:#e6e6e6;
$bgr:#ffffff;
$green-btn:#68b738;
$green-btn-hvr:#5eaa2f;
$bg-lite-grey:#f2f2f2;
$color-text:#111111;

/*breackpoints*/
$mobiles:320px;
$tablets:768px;
$desktops: 1300px;
